{{#each erros}}
    <div class="alert" style="color: red;">{{text}}</div>
{{else}}

{{/each}}
<h1 class="title new-item">New Category</h1>    
<form action="/categorias/create" method="post">
  <div class="input-field">
    <label for="category-name" class="label">Category Name</label>
    <input type="text" id="category-name" class="input-text" name="name" />
    
  </div>
  <div class="input-field">
    <label for="category-code" class="label">Category Code</label>
    <input type="text" id="category-code" class="input-text" name="code" />
    
  </div>
  <div class="actions-form">
    <a href="/categorias" class="action back">Back</a>
    <input class="btn-submit btn-action"  type="submit" value="Save" />
  </div>
</form>
