<div class="header-list-page">
  <h1 class="title">Categories</h1>
  <a href="/categorias/nova" class="btn-action">Add new Category</a>
</div>
<table class="data-grid">
  <tr class="data-row">
    <th class="data-grid-th">
        <span class="data-grid-cell-content">Name</span>
    </th>
    <th class="data-grid-th">
        <span class="data-grid-cell-content">Code</span>
    </th>
    <th class="data-grid-th">
        <span class="data-grid-cell-content">Actions</span>
    </th>
  </tr>

  {{#each category}}

    <tr class="data-row">
      <td class="data-grid-td">
          <span class="data-grid-cell-content">{{name}}</span>
      </td>
    
      <td class="data-grid-td">
          <span class="data-grid-cell-content">{{code}}</span>
      </td>
    
      <td class="data-grid-td">
        <div class="actions">
          <a href="/categorias/editar/{{_id}}"><div class="action edit"><span>Edit</span></div></a>
          <a href="/categorias/deletar/{{_id}}"><div class="action delete"><span>Delete</span></div></a>
        </div>
      </td>
    </tr>

  {{else}}
    <h4>Nenhuma categoria registrada.</h4>
  {{/each}}
  
</table>