{{#each erros}}
    <div class="alert" style="color: red;">{{text}}</div>
{{else}}

{{/each}}
<h1 class="title new-item">Edit Product</h1>  

<form action="/produtos/salvarAlteracao" enctype="multipart/form-data" method="post" method="post">
  <input type="hidden" name="id" value="{{product._id}}">
  <div class="input-field">
    <label for="sku" class="label">Product SKU</label>
    <input type="text" id="sku" class="input-text" name="sku" value="{{product.sku}}" /> 
  </div>
  <div class="input-field">
    <label for="name" class="label">Product Name</label>
    <input type="text" id="name" class="input-text" name="name" value="{{product.name}}" /> 
  </div>
  <div class="input-field">
    <label for="price" class="label">Price</label>
    <input type="text" id="price" class="input-text" name="price" value="{{product.price}}" /> 
  </div>
  <div class="input-field">
    <label for="quantity" class="label">Quantity</label>
    <input type="text" id="quantity" class="input-text" name="quantity" value="{{product.quantity}}" /> 
  </div>
  <div class="input-field">
    <label for="categories" class="label">Categories</label>
    <select multiple id="categories" class="input-text" name="categories" value="{{product.categories}}" >
      
      {{#each categories}}
        <option type="radio" value="{{_id}}">{{name}}</option>
      {{else}}
        <option  value="0">Nenhuma categoria registrada</option>
      {{/each}}
    </select>
  </div>
  <div class="input-field">
    <label for="description" class="label">Description</label>
    <textarea id="description" class="input-text" name="description" >{{product.description}}</textarea>
  </div>
  <div class="input-field">
    <label for="image" class="label">Image</label>
    <input type="file" id="image" class="input-file" name="image" accept=".png, .jpg, .jpeg"/>
  </div>
  <div class="actions-form">
    <a href="/produtos" class="action back">Back</a>
    <input class="btn-submit btn-action" type="submit" value="Save Product" />
  </div>
  
</form>