<div class="header-list-page">
  <h1 class="title">Products</h1>
  <a href="/produtos/novo" class="btn-action">Add new Product</a>
</div>
<table class="data-grid">
  <tr class="data-row">
    <th class="data-grid-th">
        <span class="data-grid-cell-content">Name</span>
    </th>
    <th class="data-grid-th">
        <span class="data-grid-cell-content">SKU</span>
    </th>
    <th class="data-grid-th">
        <span class="data-grid-cell-content">Price</span>
    </th>
    <th class="data-grid-th">
        <span class="data-grid-cell-content">Quantity</span>
    </th>
    <th class="data-grid-th">
        <span class="data-grid-cell-content">Categories</span>
    </th>

    <th class="data-grid-th">
        <span class="data-grid-cell-content">Actions</span>
    </th>
  </tr>

  {{#each product}}
    <tr class="data-row">
      <td class="data-grid-td">
          <span class="data-grid-cell-content">{{name}}</span>
      </td>
    
      <td class="data-grid-td">
          <span class="data-grid-cell-content">{{sku}}</span>
      </td>

      <td class="data-grid-td">
          <span class="data-grid-cell-content maskmoney">{{price}}</span>
      </td>

      <td class="data-grid-td">
          <span class="data-grid-cell-content">{{quantity}}</span>
      </td>

      <td class="data-grid-td">
          <span class="data-grid-cell-content">
            {{#each categories}}
              {{name}} <Br/>
            {{else}}
            {{/each}}
          </span>
      </td>
    
      <td class="data-grid-td">
        <div class="actions">
          <a href="/produtos/editar/{{_id}}"><div class="action edit"><span>Edit</span></div></a>
          <a href="/produtos/deletar/{{_id}}"><div class="action delete"><span>Delete</span></div></a>
        </div>
      </td>
    </tr>

  {{else}}
    <h4>Nenhum produto registrado.</h4>
  {{/each}}
  
</table>