<div class="header-list-page">
  <h1 class="title">Dashboard</h1>
</div>
<div class="infor">
  You have 4 products added on this store: <a href="/produtos/novo" class="btn-action">Add new Product</a>
</div>
<ul class="product-list">
  {{#each product}}
  <li>
    <div class="product-image">
      <img src="/images/product/{{image}}" layout="responsive" width="164" height="145" alt="Tênis Runner Bolt" />
    </div>
    <div class="product-info">
      <div class="product-name"><span>{{name}}</span></div>
      <div class="product-price"><span class="special-price">{{quantity}} available</span> <span>R${{price}}</span></div>
    </div>
  </li>
  {{else}}
    <h4>Nenhum produto registrado.</h4>
  {{/each}}
</ul>